* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
}

body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

[data-action] {
  cursor: pointer;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

header h1 {
  font-size: 28px;
  margin: 0;
}

nav {
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a:hover {
  background-color: #333;
  color: #fff;
}

select.filter {
  width: 90px;
  margin: 5px 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  color: #333;
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
  appearance: none;
}

button.filter {
  width: 120px;
  margin: 10px 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  color: #333;
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
  cursor: pointer;
}

#all-reset {
  width: 40px;
}

/* Style the search input */
#search {
  margin-left: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  color: #333;
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
}

/* Style the search button */
#search-btn {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  color: #333;
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
  cursor: pointer;
}

p {
  color: black;
  text-decoration: none;
  line-height: 14px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  max-width: 500px;
  letter-spacing: 0;
}

#sorting th.sortby {
  text-decoration: underline;
}

#sorting th.sortby[data-sort-direction="asc"]::after {
  content: "⇓";
}

#sorting th.sortby[data-sort-direction="desc"]::after {
  content: "⇑";
}

/* Style the table */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

/* Style the table head */
thead {
  background-color: #333;
  color: white;
}

/* Style the table head cells */
th {
  padding: 10px;
  text-align: left;
}

/* Style the table body */
tbody {
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
}

/* Style the student container */
.student-container {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

/* Style the student fields */
td[data-field] {
  padding: 10px;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
}

.col {
  width: 50vw;
}

/* Style the hack button */
#hack-btn {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  color: #333;
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
  cursor: pointer;
}

#luk {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#popup {
  display: none;
  left: 0;
  top: 0;
  width: 50vw;
  height: 93vh;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  z-index: 1;
}

#popup h2 {
  margin-top: 2vh;
}

#popup p {
  margin-bottom: 20px;
}

#popup button {
  background-color: #af4c4c;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin-top: auto;
}

#popup button:hover {
  background-color: #8e3e3e;
}

#popup-article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
  width: 50vw;
  height: 93vh;
  box-shadow: none;
}

.popup-1 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.popup-2 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.house-color1 {
  height: 5%;
  width: 100%;
  background-color: #333;
}

.house-color2 {
  height: 5%;
  width: 100%;
  background-color: #333;
}

.top-border {
  border-bottom: 5px solid #a3a38c;
}

.bot-border {
  border-top: 5px solid #a3a38c;
  margin-top: auto;
}

.picture-container {
  margin: 2vh 0;
  width: 100%;
}

img {
  display: block;
  margin: 0 auto;
  aspect-ratio: 1/1;
  max-width: 100%;
  object-fit: contain;
}

.picture {
  width: 85%;
}

.house-picture {
  margin-top: 2em;
  width: 50%;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer p {
  margin: 0;
}
